/* colors

blue: #327ADB;
darkBlue: #2761AE;
green: #189841;

*/

body{
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Roboto',Arial;
	font-weight:400;	
	font-size:62.5%;
	background:#EAEAEA;
}
header.page-top {
	position:relative;
	background: #327ADB;
	color:#FFF;
	height:85px;
	z-index:1;
}

header.page-top .page-top-bar {
	position:absolute;
	right:0;
	top:0;
	left:0;
	height:45px;
	background: #2761AE;
}

header.page-top .page-top-bar .core-search {
	padding:5px 10px;
	height:40px;
	margin:0 220px;
}

.core-search-box {
	background:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.3);
	width:430px;
	height:30px;
	margin:0 auto;
}

.core-search-box .type {
	position: relative;
	display: block;
	float:left;
	color:#FFF;
	padding:0 10px;
	font-size:1.2em;
	line-height:30px;
	width:110px;
	border-right:1px solid rgba(255,255,255,0.3);
	cursor:pointer;
}

.core-search-box .type:hover {
	background: #1F4D8A;
}

.core-search-box input {
	float:left;
	border:none;
	background: none;
	color:#FFF;
	font-size: 1.3em;
	margin:0;
	padding:8px 10px;
	width:249px;
	outline:none;
}

.core-search-box .core-search-go {
	float:left;
	display: block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align: center;
	cursor:pointer;
}
.core-search-box .core-search-go:hover {
	background:#189841;
}

header.page-top .page-top-bar .user {
	height:45px;
	padding:0 0 0 10px;
	float:right;
	line-height:45px;
	font-size:1.3em;
}

header.page-top .page-top-bar .user .avatar {
	display:block;
	width: 36px;
	height: 36px;
	float: left;
	border-radius:50%;
	overflow:hidden;
	border:2px solid rgba(255,255,255,0.2);
	margin: 2px 10px 0 0;
}
header.page-top .page-top-bar .user .avatar img {
	width:100%;
	margin-top:-10px;

}

header.page-top .page-top-bar .user .name {
	display: block;
	float:left;
	margin-right:20px;
}

header.page-top .page-top-bar .user .user-menu-icon {
	position: relative;
	display:block;
	width:45px;
	height:45px;
	text-align: center;
	float:left;
	cursor: pointer;
}
header.page-top .page-top-bar .user .user-menu-icon>a {
	display:block;
	width:45px;
	height:45px;
	text-align:center;
	line-height:45px;
	color:#FFF;
}


header.page-top .page-top-bar .user .user-menu-icon:hover,
header.page-top .page-top-bar .user .user-menu-icon.active {
	background:#1F4D8A;
}


header.page-top nav.site-nav {
	position:absolute;
	right:0;
	top:50px;
	left:220px;
	height:35px;
}
header.page-top nav.site-nav ul {
	list-style: none;
	margin:0;
	padding:0;
}

header.page-top nav.site-nav ul li {
	display: block;
	float:left;
}
header.page-top nav.site-nav ul li  a {
	display: block;
	line-height:35px;
	font-size:1.3em;
	color:rgba(255,255,255,0.8);
	text-decoration: none;
	padding:0 20px;
}

header.page-top nav.site-nav ul li a:hover {
	background:rgba(0,0,0,0.2);
}

aside.left-bar {
	position: absolute;
	left:0;
	top:85px;
	bottom:0;
	height:100%;
	width:220px;
	background: #1E1E1E;
	overflow:auto;
}

aside.left-bar ul {
	margin:40px 0 0 0;
	padding:0;
	list-style:none;
}

aside.left-bar ul li {
	display:block;
}

aside.left-bar ul li a {
	display:block;
	height:40px;
	color:rgba(255,255,255,0.7);
	font-size:1.3em;
	line-height:40px;
	padding:0 20px;
	text-decoration:none;
}

aside.left-bar ul li a:hover{
	background: rgba(255,255,255,0.2);
}


nav.breadcrumb {
	margin-left:220px;
	overflow: hidden;
}
nav.breadcrumb ul {
	list-style: none;
	margin:0;
	padding:0;
}
nav.breadcrumb ul li {
	display: block;
	float:left;
	font-size:1.3em;
	color:#222;
	line-height:40px;
	font-weight:500;
}

nav.breadcrumb ul li a {
	position: relative;
	display:block;
	text-decoration: none;
	color:#555;
	font-weight: 400;

}
nav.breadcrumb ul li a:hover {
	color:#327ADB;
}

nav.breadcrumb ul li span {
	padding:0 20px 0 20px;
}
nav.breadcrumb ul li a:after{
	display: block;
	float:right;
	font-family:FontAwesome;
	content:"\f054";
	color:#2761AE;
	font-size:1em;
	line-height:40px;
	opacity:0.8;
}

section.container {
	margin-left:220px;
}

section.container div.content {
	margin:20px 0;
	width:800px;
	color:#222;
}

section.container h1, section.container h2, section.container p {
	margin-left:20px;
}
section.container form {
	margin-left: 40px;
}

/* Core elements */
h1 {
	font-size:3em;
	padding-left:15px;
}

h2 {
	font-size: 2em;
	padding-left:15px;
}

p {
	font-size:1.3em;
	line-height:1.5em;
	padding:15px;
}

p.well {
	background:#FAFAFA;
	border-bottom:2px solid #CCC;
}


/* forms */
form {
	display: block;
	margin:0;
	padding:0;
}
fieldset {
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
}

fieldset>label {
	float:left;
	display: block;
	margin:0;
	padding:0;
	width:120px;
	font-size:1.3em;
	line-height: 40px;
}

fieldset input, fieldset select {
	float:left;
	font-size:1.3em;
	height:20px;
	padding:5px 10px;
	margin:3px 0;
	margin-right:5px;
	border:1px solid #AAA;
	box-shadow:inset 0 0 2px 0 #EEE;
}

fieldset input:focus, fieldset select:focus {
	outline-color: #327ADB;
}
fieldset select {
	height:34px;
}
fieldset input[type=text], fieldset input[type=email] {
	width:300px;
}


div.modal-backdrop {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background: #000;
	opacity:0.3;
	z-index: 100;
	display: none;
}




/*-- HELP WINDOW --*/
section.help {
	position: fixed;
	top:0;
	bottom:0;
	right:-400px;
	width:400px;
	background: #FFF;
	z-index:101;
}

section.help .help-link {
	display: block;
	position: absolute;
	width:40px;
	height:40px;
	top:45px;
	left:-40px;
	text-align:center;
	line-height:40px;
	cursor:pointer;
	background: #327ADB;
	color:#FFF;
}

section.help .help-link:hover {
	
}




/*-- SCROLL TO TOP --*/
.scroll-to-top {
	display: block;
	position:fixed;
	right:0;
	top:0px;
	width:40px;
	height: 40px;
	background:#2761AE;
	color:#FFF;
	padding: 0;
	margin: 0;
	line-height:40px;
	text-align: center;
	opacity:0.6;
	cursor:pointer;
}
.scroll-to-top:hover {
	opacity:1;
}

/*-- MINI MENU --*/
.mini-menu {
	background:#1F4D8A;
	margin:0;
	padding:0;
	position:absolute;
	top:100%;
	left:0;
	list-style:none;
	z-index: 1000;
	text-align: left;
	display: none;
	
	min-width:100%;
}
.mini-menu.right{
	right:0;
	left:auto;
}
.active .mini-menu {
	display: block;
}
.mini-menu li a {
	display: block;
	padding:0 20px;
	line-height: 40px;
	color:#FFF;
	text-decoration:none;
	font-size:12px;
	white-space: nowrap;
}
.mini-menu li a:hover {
	background:rgba(255,255,255,0.2);
}
.mini-menu li a i {
	opacity:0.8;
}



/*-- FLASH MESSAGE --*/
.flash-message {
	display: block;
	position:fixed;
	top:0;
	left:50%;
	width:500px;
	margin-left:-250px;
	background: white;
	border-bottom:4px solid #CCC;
	z-index:2000;
}

.flash-message .close {
	position: absolute;
	display: block;
	width:30px;
	height:30px;
	right:0;
	top:0;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	opacity:0.8;
	font-size:1.2em;
}
.flash-message .close:hover {
	opacity: 1;
}

.flash-message p {
	margin:0;
	padding: 20px 30px 10px 20px;
	line-height: 1.8em;
	font-size: 1.2em;
	text-align: center;
}
.flash-message .buttons {
	padding:10px 20px;
	overflow: hidden;
}
.flash-message .buttons a.cancel {
	line-height: 1.8em;
	font-size: 1.2em;
	color:#999;
	float:left;
	text-decoration: underline;
	line-height: 35px;
	cursor: pointer;
}
.flash-message .buttons a.cancel:hover {
	color:#555;
}

.flash-message .buttons button {
	float:right;
	border:none;
	background: #AAA;
	color:#FFF;
	padding:10px 20px 8px 20px;
	border-bottom:2px solid rgba(0,0,0,0.2);
	cursor: pointer;
	outline: none;
	margin-left:10px;
}

.flash-message .buttons button.accept {
	background: #189841;
	
}

.flash-message .buttons button.deny {
	background: #D22020;
	
}


.flash-message .buttons button:active {
	border-bottom: none;
	margin-top:2px;
}